



.register_container {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--main_bg);
    display: grid;

}

.form_container {
    place-self: center;
    background-color: var(--second_color);
    max-width: 80rem;
    max-height: 60rem;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
}







.img_side_form {
    width: 100%;
    display: flex;
    /*gap: 0.8rem;*/
    height: 100%;

}

.side_img {
    flex-basis: 35rem;
    background-image: url("/register_task_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0 0 10px;

}

.register_form {
    padding: 2rem;
    flex-basis: 45rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border-radius: 0 10px 10px 0;

}


.register_form p {
    font-weight: 500;
}



.field_group {
    margin: 1.5rem 0;
    width: 100%;
}

.field_group label input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #666;

}




.useful_links {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

.useful_links a {
    display: inline-block;
}



@media screen and (max-width: 600px) {
    .side_img {
        flex-basis: 0;
    }


    .register_container {
        background-color: var(--second_color);
    }

    .img_side_form {
        padding: 5rem;
    }

    .register_form {
        border-radius: 10px;
    }


    .form_container {

        max-height: none;
        height: auto;
    }
}