# DJANGO
SECRET_KEY=your_key
DEBUG=True
DOMAIN_NAME=http://your-domain.com
CLIENT_SIDE_DOMAIN=http://your-domain
ALLOWED_HOSTS='127.0.0.1'


# CELERY
CELERY_BROKER_URL=redis://127.0.0.1:6379/0


# E-MAIL
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_HOST_USER=your-email
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False


# MySQL
USE_MYSQL=1
DB_HOST=db
DB_NAME=kanban_db
DB_USER=your_username
DB_PASS=your_password
DB_PORT=3306
