
.form_container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile_pic_input {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;

}



.profile_pic_input img {
    height: 100%;
    border-radius: 50%;
}

.profile_pic_input input {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
}

.user_info {
    width: 50%;
}

.field_group {
    margin: 1rem 0 ;
}

.field_group input{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--primary_color);;
}

.user_title {
    margin-top: 1rem;
}


.remove_pic_btn {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    background-color: transparent;
    z-index: 99;
    cursor: pointer;

}

.remove_pic_btn i {
    font-size: 8rem;
    color: #ffffff;
    transition: 0.3s;
    display: none;
}

.profile_pic_input:hover i {
    display: block;
}

.profile_pic_input:hover .remove_pic_btn  {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;

}